@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";
@import "./themes/index.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  @apply bg-background text-foreground font-sans;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

