@import './base/tokens.css';

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-background text-foreground;
}

.navbar {
  @apply flex items-center gap-medium px-large py-medium bg-secondary-soft text-primary;

  .navbar__logo {
    @apply font-bold text-xl;
  }

  .navbar__items {
    @apply ml-auto flex gap-medium;

  }
}