@import "tailwindcss";

@import "../../../../packages/styles/index.css";

/* scan app */
@source "../**/*.{ts,tsx}";

/* scan packages */
@source "../../../../packages/ui/src/**/*.{ts,tsx}";
@source "../../../../packages/prestes/src/**/*.{ts,tsx}";
