html[data-theme="taurus"] {
  --background: oklch(0.2254 0.0097 294.78);
  --foreground: oklch(0.994 0 0);
  --primary-50: oklch(0.9747 0.0192 72.58);
  --primary-100: oklch(0.949 0.0378 73.74);
  --primary-200: oklch(0.9249 0.0559 72.27);
  --primary-300: oklch(0.9011 0.0749 71.85);
  --primary-400: oklch(0.8779 0.0934 71.31);
  --primary-500: oklch(0.8554 0.112 70.92);
  --primary-600: oklch(0.7974 0.1541 66.91);
  --primary-700: oklch(0.7408 0.1759 58.65);
  --primary-800: oklch(0.6009 0.1411 59.67);
  --primary-900: oklch(0.449 0.103867 61.4235);
  --primary-950: oklch(0.2865 0.063461 66.669);
  --secondary-50: oklch(0.8808 0.0267 264.43);
  --secondary-100: oklch(0.7534 0.0647 264.94);
  --secondary-200: oklch(0.6223 0.1129 264.2);
  --secondary-300: oklch(0.4987 0.1499 263.5);
  --secondary-400: oklch(0.3897 0.1235 263.32);
  --secondary-500: oklch(0.2759 0.0851 262.88);
  --secondary-600: oklch(0.2466 0.0793 262.85);
  --secondary-700: oklch(0.2148 0.0698 262.72);
  --secondary-800: oklch(0.1846 0.0583 261.34);
  --secondary-900: oklch(0.1533 0.0462 259.31);
  --secondary-950: oklch(0.1136 0.0328 250.75);
}

html[data-theme="taurus"] .dark {
  --background: oklch(0.15 0.01 294.78);
  --foreground: oklch(0.98 0 0);
  --primary-50: oklch(0.2865 0.063461 66.669);
  --primary-100: oklch(0.449 0.103867 61.4235);
  --primary-200: oklch(0.6009 0.1411 59.67);
  --primary-300: oklch(0.7408 0.1759 58.65);
  --primary-400: oklch(0.7974 0.1541 66.91);
  --primary-500: oklch(0.8554 0.112 70.92);
  --primary-600: oklch(0.8779 0.0934 71.31);
  --primary-700: oklch(0.9011 0.0749 71.85);
  --primary-800: oklch(0.9249 0.0559 72.27);
  --primary-900: oklch(0.949 0.0378 73.74);
  --primary-950: oklch(0.9747 0.0192 72.58);
  --secondary-50: oklch(0.1136 0.0328 250.75);
  --secondary-100: oklch(0.1533 0.0462 259.31);
  --secondary-200: oklch(0.1846 0.0583 261.34);
  --secondary-300: oklch(0.2148 0.0698 262.72);
  --secondary-400: oklch(0.2466 0.0793 262.85);
  --secondary-500: oklch(0.2759 0.0851 262.88);
  --secondary-600: oklch(0.3897 0.1235 263.32);
  --secondary-700: oklch(0.4987 0.1499 263.5);
  --secondary-800: oklch(0.6223 0.1129 264.2);
  --secondary-900: oklch(0.7534 0.0647 264.94);
  --secondary-950: oklch(0.8808 0.0267 264.43);
}
